<div class="container">
  <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje stavke računa</h3>
  <h3 mat-dialog-title *ngIf="flag == 2">
    Modifikacija stavke računa: {{ data.id }}
  </h3>
  <h3 mat-dialog-title *ngIf="flag == 3">
    Brisanje stavke računa: {{ data.id }}
  </h3>

  <form class="mat-dialog-content" #formControl="ngForm">
    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Količina"
          [(ngModel)]="data.kolicina"
          name="kolicina"
          [disabled]="flag == 3"
        />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Jedinica mere"
          [(ngModel)]="data.jedinicaMere"
          name="jedinicaMere"
          [disabled]="flag == 3"
        />
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Cena"
          [(ngModel)]="data.cena"
          name="cena"
          [disabled]="flag == 3"
        />
        <span matSuffix>RSD</span>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Račun"
          [(ngModel)]="data.racun"
          name="racun"
          [disabled]="flag == 3"
        /><mat-option *ngFor="let racun of racuni" [value]="racun">
          {{ racun.id }}
        </mat-option>
      </mat-form-field>
    </div>
    <!--
    <div class="form">
      <mat-form-field>
        <mat-select [(ngModel)]="data.artikl" placeholder="Artikl" name="artikl" [compareWith]="compareTo" [disabled]="flag == 3">
          <mat-option *ngFor="let artikl of artikli" [value]="artikl">
            {{ artikl.naziv }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <!-- <div class="form">
      <mat-form-field>
        <input
          matInput
          placeholder="Proizvod"
          [(ngModel)]="data.proizvod"
          name="proizvod"
          [disabled]="flag == 3"
        />
      </mat-form-field>
    </div> -->

    <div mat-dialog-actions>
      <button
        mat-button
        *ngIf="flag == 1"
        [type]="submit"
        [mat-dialog-close]="1"
        (click)="add()"
        [disabled]="!formControl.valid"
      >
        Sačuvaj
      </button>
      <button
        mat-button
        *ngIf="flag == 2"
        [type]="submit"
        [mat-dialog-close]="1"
        (click)="update()"
        [disabled]="!formControl.valid"
      >
        Sačuvaj
      </button>
      <button
        mat-button
        *ngIf="flag == 3"
        [type]="submit"
        [mat-dialog-close]="1"
        (click)="delete()"
      >
        Obriši
      </button>
      <button mat-button (click)="cancel()">Poništi</button>
    </div>
  </form>
</div>
