<mat-sidenav-container class="example-container">
  <mat-sidenav mode="over" [fixedInViewport]="true" opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align: center">
        <mat-icon>Home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Aplikacija </mat-panel-title>
          <mat-panel-description>
            Aplikacija za vođenje evidencije
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button>Proizvođac</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>Proizvod</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>Račun</a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Informacije </mat-panel-title>
          <mat-panel-description>
            Osnovne informacije o aplikaciji
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button>Početna</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>Autor</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button>O nama</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
